html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
    .wrapper{
            width: 1200px;
            margin: 0 auto;
            background: blue;
            display: grid;
        grid-template-areas:
        "A B C"
        "D D E"
        "D D F"
        "H H F"
        "H H G"
        "I J J"
        "I K L"
        "M M N"
        "O Q N"
        "P Q N";
    }

    .wrapper>div{
        outline: 2px solid black;
        background: yellow;
    }
    .test1{
        grid-area: A;
    }
    .test2{
        grid-area: B;
    }
    .test3{
        grid-area: C;
    }
    .test4{
        grid-area: D;
    }
    .test5{
        grid-area: E;
    }
    .test6{
        grid-area: F;
    }
    .test7{
        grid-area: H;
    }
    .test8{
        grid-area: G
    }
    .test9{
        grid-area: I;
    }
    .test10{
        grid-area: J;
    }
    .test11{
        grid-area: K;
    }
    .test12{
        grid-area: L;
    }
    .test13{
        grid-area: M;
    }
    .test14{
        grid-area: N;
    }
    .test15{
        grid-area: O;
    }
    .test16{
        grid-area: Q;
    }
    .test17{
        grid-area: P;
    }


